.text-red {
  color: red;
}

.hidden {
  display: none;
}

@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}
html {
  color: #e6e6e6 !important;
}

body {
  font-family: "Cabin", sans-serif !important;
  background-color: black;
}

button:focus {
  outline: none;
}

h3 {
  font-size: 1.3em;
  color: #e6e6e6;
}

.topmost-logo-container {
  text-align: center;
}
.topmost-logo-container img {
  padding-top: 3px;
  padding-bottom: 2px;
  border-bottom: 1px solid #e6e6e6;
}
.topmost-logo-container h2 {
  color: #e6e6e6;
  font-size: 1.65rem;
}

#gallery-container {
  text-align: center;
}
#gallery-container h4 {
  color: #e6e6e6;
  font-style: italic;
  margin-bottom: 0;
}
#gallery-container img {
  width: 100%;
  height: auto;
  margin-top: 0.3em;
}
#gallery-container img:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px white;
  -moz-box-shadow: 0px 0px 5px 0px white;
  box-shadow: 0px 0px 5px 0px white;
}
#gallery-container .row {
  margin-top: 1em;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 2;
  pointer-events: none;
  display: none;
}
#backdrop.visible {
  display: block;
  pointer-events: all;
}

#popup-container {
  z-index: 1;
  align-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#popup-container.show {
  display: grid;
}

#cotizacion .btn-group {
  width: 100%;
}
#cotizacion .btn-group .row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.5em;
  width: 100%;
}
#cotizacion .btn-secondary {
  width: 100%;
  height: 3em;
  position: relative;
  color: #e6e6e6;
  background-color: dimgray;
  opacity: 0.5;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
#cotizacion .btn-secondary:hover, #cotizacion .btn-secondary.active {
  box-shadow: none;
  border: none;
  opacity: 1;
}
#cotizacion img {
  width: 100%;
  height: 3em;
  object-fit: cover;
}
#cotizacion [class*=col] {
  padding: 0;
  margin: 0;
}
#cotizacion [data-toggle=tooltip] {
  font-size: 0.5em;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
  margin-left: 0.8em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
#cotizacion input[type*=radio] {
  display: none !important;
}
#cotizacion .base-container h3 {
  display: flex;
  align-items: center;
}
#cotizacion h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
  font-size: 1.5em;
}
#cotizacion .calcular-container {
  margin-top: 0.5em;
}
#cotizacion .calcular-container label {
  margin-bottom: 0;
}
#cotizacion .resultado-cotizacion {
  padding-left: 1em;
}

#footer {
  border-top: 1px solid #6e6c6c;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
}
#footer p {
  margin-bottom: 0.5em;
}
#footer .redes {
  text-align: center;
  color: #6e6c6c;
}
#footer .redes-icons {
  display: flex;
  justify-content: center;
}
#footer .redes-icons img {
  width: 1.5em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
#footer .web-design {
  text-align: right;
  color: #303030;
  font-size: 0.8em;
}

#contacto .name {
  width: 35%;
}
#contacto .email {
  width: 35%;
}
#contacto .message {
  width: 100%;
  height: 5em;
  word-break: break-all;
  word-wrap: break-word;
}

.navbar {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.navbar-brand-icon {
  height: 1.5em;
}

.navbar-toggler-icon {
  font-size: 1.5em;
  height: 1em;
  width: auto;
  color: #e6e6e6;
}

.navbar-toggler {
  float: none;
  display: block;
  width: 100%;
}

.navbar-expand-lg {
  text-align: center;
}

.nav-link {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5em;
  color: #e6e6e6;
}
.nav-link:hover {
  color: #e6e6e6;
  text-shadow: 1px 1px 1px white;
}
.nav-link:hover .text-red {
  text-shadow: 1px 1px 1px red;
}

.card {
  margin-top: auto;
  margin-bottom: auto;
  color: #e6e6e6;
  z-index: 100;
  background-color: dimgrey;
  width: 100%;
  line-height: 1.2em;
  border-radius: 0.3em;
}
.card img {
  border-radius: 0.3em 0 0 0.3em;
  width: 100%;
}
.card.show {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}
.card.hidden {
  display: none;
}
.card-col {
  padding: 0;
}
.card-text {
  font-size: 1.3em;
}
.card-title {
  margin: 0.2em 0 0.2em 0;
  padding: 0 0 0 0;
  font-size: 1.8em;
  text-align: center;
  color: #c2353b;
}
.card-title-container {
  margin-bottom: 0.75em;
  padding: 0.2em;
  border-radius: 0.3em;
  line-height: 1rem;
  background-color: #e6e6e6;
  -webkit-box-shadow: 0px 0px 3px 0px black;
  -moz-box-shadow: 0px 0px 3px 0px black;
  box-shadow: 0px 0px 3px 0px black;
}
.card-btn-container {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 0.8em;
  margin-bottom: 0.8em;
  -webkit-box-shadow: 0px 0px 3px 0px black;
  -moz-box-shadow: 0px 0px 3px 0px black;
  box-shadow: 0px 0px 3px 0px black;
}
.card-btn-container-mobile {
  padding: 0.2em;
  line-height: 0.8em;
  font-size: 0.8em;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 0.5em;
  margin-top: 0.5em;
}
.card-btn-container-mobile a {
  padding: 0.2em 0.5em;
}

.btn-primary h4 {
  margin: 0;
}
.btn-secondary {
  font-size: 1.3em;
  border: 0;
  background-color: #c2352b;
}
.btn-secondary:hover {
  background-color: #ff5447;
}

.error-alert {
  padding-left: 0.3em;
}
.error-alert-icon {
  border-radius: 25%;
  font-weight: 600;
  margin-left: 0.5em;
  margin-right: 0.3em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  color: black;
  background-color: red;
}

.section-title {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px solid #e6e6e6;
  color: #e6e6e6;
  text-align: center;
}

@media (max-width: 576px) {
  .card img {
    border-radius: 0.3em 0.3em 0 0;
  }

  #footer .web-design {
    text-align: center;
    margin-top: 1.5em;
  }
  #footer .web-design p {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=app.css.map */
