#gallery-container
    text:
        align: center
    h4
        color: $theme-color-primary
        font:
            style: italic
        margin:
            bottom: 0
    img
        width: 100%
        height: auto
        margin:
            top: 0.3em
        &:hover
            cursor: pointer
            @include boxshadowAllCompatible(0px, 0px, 5px, 0px, rgba(255, 255, 255, 1))
    .row
        margin: 
            top: 1em
