html {
    color: #e6e6e6 !important;
}

body {
    font-family: 'Cabin', sans-serif !important;
    background-color: black;
}

.topmost-logo-container {
    text-align: center;
}

.topmost-logo-img {
    padding-top: 3px;
    padding-bottom: 2px;
    border-bottom: 1px solid #e6e6e6;
}

.topmost-logo-container h2 {
    color: #e6e6e6;
    font-size: 1.65rem;
}

.navbar {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.navbar-brand-icon {
    height: 1.5em;
}

.navbar-toggler-icon {
    font-size: 1.5em;
    height: 1em;
    width: auto;
    color: #e6e6e6;
}

.navbar-toggler {
    float: none;
    display: block;
    width: 100%;
}

.navbar-expand-lg {
    text-align: center;
}

.nav-link {
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
    color: #e6e6e6;
}

.nav-link:hover {
    color: #e6e6e6;
    text-shadow: 1px 1px 1px white;
}

.text-red {
    color: rgb(255, 0, 0);
}

.gallery-container {
    padding-top: 1.5em;
    text-align: center;
}

.gallery-container h4 {
    color: #e6e6e6;
    font-style: italic;
}

.gallery-container img {
    width: 100%;
    height: auto;
    margin-top: 0.3em;
}

.gallery-container img:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
}

.gallery-container .row {
    margin-bottom: 1.5em;
}

.card {
    margin-top: auto;
    color: #dcdcdc;
    margin-bottom: auto;
    z-index : 100;
    background-color: dimgrey;
    width: 100%;
    margin: auto;
    line-height: 1.2em;
}

.card img {
    width: 100%;
}

.card.show {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}

.card.hidden {
    display: none;
    animation: fade-slide-out 0.3s ease-in forwards;
}

.card-col {
    padding: 0;
}

.card-text {
    font-size: 1.3em;
}

.card-title {
    margin: 0.2em 0 0.2em 0;
    padding: 0 0 0 0;
    font-size: 1.8em;
    text-align: center;
    color: #c2352b;
}

.card-title-container {
    margin-bottom: 0.75em;
    padding: 0.2em;
    line-height: 1rem;
    background-color: #e6e6e6;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
}


.card-btn-container {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 0.8em;
    margin-bottom: 0.8em;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
}

.card-btn-container-mobile {
    padding: 0.2em;
    line-height: 0.8em;
    font-size: 0.8em;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.card-btn-container-mobile a {
    padding: 0.2em 0.5em;
}

.hidden {
    display: none;
}

.btn-secondary {
    font-size: 1.3em;
    border: 0 0 0 0;
    background-color: #c2352b;
}

.btn-secondary:hover {
    background-color: #ff5447;
}

#backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 2;
    pointer-events: none;
    display: none;
}

#backdrop.visible {
    display: block;
    pointer-events: all;
}

#popup-container {
    z-index: 1;
    align-content: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#popup-container.show {
    display: grid;
}

@keyframes fade-slide-in {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0);
    }
}

@keyframes fade-slide-out {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(5rem);
    }
}