html {
    font-family: "Acre", sans-serif;
    color: #e6e6e6 !important;
}

body {
    background-color: black;
}

.topmost-logo-container {
    text-align: center;
}

.topmost-logo-img {
    padding-top: 3px;
    padding-bottom: 2px;
    border-bottom: 2px solid #e6e6e6;
}

.topmost-logo-container h2 {
    color: #e6e6e6;
    font-size: 1.65rem;
}

.navbar-brand-icon {
    height: 1.5em;
}

.navbar-toggler-icon {
    font-size: 1.5em;
    height: 1em;
    color: #e6e6e6;
}

.nav-item a {
    color: #e6e6e6;
}

.nav-item a:hover {
    text-shadow: 1px 1px 3px white;
}