html {
    color: #e6e6e6 !important;
}

body {
    font-family: 'Cabin', sans-serif !important;
    background-color: black;
}

.topmost-logo-container {
    text-align: center;
}

.topmost-logo-img {
    padding-top: 3px;
    padding-bottom: 2px;
    border-bottom: 1px solid #e6e6e6;
}

.topmost-logo-container h2 {
    color: #e6e6e6;
    font-size: 1.65rem;
}

.navbar {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.navbar-brand-icon {
    height: 1.5em;
}

.navbar-toggler-icon {
    font-size: 1.5em;
    height: 1em;
    width: auto;
    color: #e6e6e6;
}

.navbar-toggler {
    float: none;
    display: block;
    width: 100%;
}

.navbar-expand-lg {
    text-align: center;
}

.nav-link {
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
    color: #e6e6e6;
}

.nav-link:hover {
    color: #e6e6e6;
    text-shadow: 1px 1px 1px white;
}

.text-red {
    color: rgb(255, 0, 0);
}

.gallery-container {
    padding-top: 1.5em;
    text-align: center;
}

.gallery-container h4 {
    color: #e6e6e6;
    font-style: italic;
}

.gallery-container img {
    width: 100%;
    height: auto;
}

.gallery-container .row {
    margin-bottom: 1.5em;
}

.card {
    background-color: dimgray;
    position: fixed;
    width: 50%;
    margin: auto;
    /* Will not center vertically and won't work in IE6/7. */
    top: 0;
    right: 0;
}

.card img {
    width: 100%;
}

.card-hide {
    display: none;
}

.card-col {
    padding: 0;
}
