html {
    font-size: 16px;
}

body {
    font-family: "Acre", sans-serif;
    line-height: 0px;
    background-color: black;
    margin: 0;
    padding: 0;
}

body hr {
    display: block;
    margin: 0 auto 0 auto;
    padding: 0;
    text-align: center;
    width: 95%;
}

header {
    position: relative;
    text-align: center;
}

header::after {
    content: "";
    clear: both;
}

header div {
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Acre", sans-serif;
    font-size: 1em;
}

header img {
    margin: 0.5em auto 0 auto;
    height: auto;
    width: 15em;
}

header hr {
    background-color: #e6e6e6;
    text-shadow: none;
    display: block;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 15em;
}

header h3 {
    margin: 0.5em auto 0.5em auto;
    min-height: 1em;
    font-size: 1em;
}

header nav {
    padding: auto;
    margin: auto;
}

header nav ul {
    padding: 0;
    margin: 0.5em auto 0.1em auto;
    width: 100%;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 auto 0 auto;
}

header nav ul li a {
    font-size: 1.2em;
    width: 10em;
    float: left;
    text-align: center;
    text-decoration: none;
    color: #e6e6e6;
    padding: 0.5em 0.2em 0.5em 0.2em;
    margin: 0.5em 0 0.5em 0;
}

header nav ul li a:hover {
    text-shadow: 1px 1px 3px white;
}

header nav ul li a.dropdownIcon {
    display: none;
    width: 1em;
    margin-right: 2em;
}

p {
    font-size: 1em;
    color: #e6e6e6;
}

h1, h2, h3 {
    color: #e6e6e6;
}

div {
    
}

header div.nav-bar {
    position: absolute;
    bottom: 0;
    height: auto;
    margin: 10px 2em 0 2em;
    border-bottom: 1px solid #e6e6e6;
}

.nav-bar-border-disappear {
    border-bottom: none;
}

section {
    display: block;
    min-height: 1em;
    line-height: 1em;
    margin: 2em 0 2em 0;
    padding: 1em 3em 1em 3em;
}

#section-about p {
    display: inline-block;
    
}

#section-about img {
    height: 10em;
    width: auto;
    display: inline-block;
}

.grid-col-1{width: 8.33%;}
.grid-col-2{width: 16.66%;}
.grid-col-3{width: 25%;}
.grid-col-4{width: 33.33%;}
.grid-col-5{width: 41.66%;}
.grid-col-6{width: 50%;}
.grid-col-7{width: 58.33%;}
.grid-col-8{width: 66.63%;}
.grid-col-9{width: 75%;}
.grid-col-10{width: 83.33%;}
.grid-col-11{width: 91.66%;}
.grid-col-12{width: 100%;}

@media screen and (max-width: 860px) {
    html {
        font-size: 20px;
    }
    
    header ul li:not(:nth-child(1)):not(:nth-child(5)) {
        display: none;
    }
    
    header nav ul li a.dropdownIcon {
        float: right;
        display: block;
    }
    
    header ul.responsive-navbar li a.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }    
    
    header ul.responsive-navbar {
        position: relative;
    }
    
    header ul.responsive-navbar li {
        display: block !important;
        float: none;
    }
    
    header ul.responsive-navbar li a {
        display: block;
    }
    
    .hide-navbar-hr {
        display: none !important;
    }
    
}